/** Reset **/
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   text-decoration: none;
}

/** Container **/

<<<<<<< Updated upstream
#containerIndex {
   display: grid;
   grid-template-areas:
     "nav nav nav"
     "carrosel carrosel carrosel"
     "ultimasNoticias ultimasNoticias ultimasNoticias"
     "jogosGratuitos jogosGratuitos jogosGratuitos"
=======
/* Container */
#container__index {
   display: grid;
   grid-template-areas:
     "nav nav nav"
     "slider slider slider"
     "noticias noticias noticias"
     "jogos-gratuitos jogos-gratuitos jogos-gratuitos"
>>>>>>> Stashed changes
     "descontos descontos descontos"
     "analises analises analises"
     "contato contato contato"
     "footer footer footer";

   grid-template-rows: 100px 559px auto auto auto auto auto 150px; 
   grid-template-columns: 20% 65% 15%;
}
.border {
   border: 1px solid black;
}

section h1 {
   color:#610094;
   font-weight: bold
}

section h2 {
   color:#610094;
   font-weight: bold
}

section h4 {
   font-weight: bold
}

<<<<<<< Updated upstream

nav {
   width: 100%;
   height: 75px;
   grid-area: nav;
   display: flex;
   align-items: center;
   position: fixed;
   font-weight: bold
}
section#carrosel {
   grid-area: carrosel;     
=======
section#slider {
   grid-area: slider;     
>>>>>>> Stashed changes
}
section#ultimasNoticias {
   grid-area: ultimasNoticias;
}
section#jogosGratuitos {
   grid-area: jogosGratuitos;     
}
section#descontos {
    grid-area: descontos;
}
section#analises {
    grid-area: analises;
}
section#contato {
    grid-area: contato;
}
<<<<<<< Updated upstream
=======

nav {
   width: 100%;
   height: 100px;
   padding: 10px;
   grid-area: nav;
   display: flex;
   align-items: center;
   position: fixed;
   font-weight: bold
}

.navbar__botao {
   display: none;
}

>>>>>>> Stashed changes
footer {
   grid-area: footer;
}

img {
   max-width: 100%;
   max-height: 100%;
}

/** Logo **/
#logo {
   background-color: white;
   width: auto;
   height: auto;
}

<<<<<<< Updated upstream
/** Menu **/
#menu {
   background-color: white;
=======
/* Barra de Navegação e Menus */
#navbar {
   background-color: rgb(255, 255, 255);
>>>>>>> Stashed changes
   display: flex;
   justify-content: space-evenly;
   margin: 2px 0px 2px 0px;

}

nav ul a {
    text-decoration: none;
    font-size: 13pt;
    padding: 16px;
    display: inline-block;
    color: #610094;
}

ul li {
    display: inline-block;
    color: #150050;
}

ul li:hover {
    border-bottom: 3px solid #150050;
    transition: 0.2s;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 100x;
    display: none;
}

ul li ul li {
    background-color: #610094;
    display: block;
}

ul li ul li a {
    display: block;
    color: white;
}

ul li ul li:hover {
    background-color: #150050;
}

/** Sociais **/

<<<<<<< Updated upstream
/** Carrosel **/
#carrosel {
=======
/* Slider */
#slider {
>>>>>>> Stashed changes
   overflow: hidden;
}

#slider img{
   height: 100%;
   width: 100%;
}
<<<<<<< Updated upstream
#carrosel .noticiasCarrosel {
   height: 100%;
=======

#slider .slider__noticias {
>>>>>>> Stashed changes
   width: 500%;
   margin: 0;
   animation-name: animacao;
   animation-duration: 15s;
   animation-iteration-count: infinite;
}

<<<<<<< Updated upstream
#carrosel .noticiasCarrosel img {
   width: 20%;
=======
#slider .slider__noticias img {
   width: 1900px;
   height: 675px;
>>>>>>> Stashed changes
   background-repeat: no-repeat;
}

@keyframes animacao {
   0% { margin-left: 0; }
   20% { margin-left: 0; }
   25% { margin-left: -100%; }
   45%{ margin-left: -100%; }
   50%{ margin-left: -200%; }
   70%{ margin-left: -200%; }
   75%{ margin-left: -300%; }
   95%{ margin-left: -300%; }
   100%{ margin-left: -400%; }
}

<<<<<<< Updated upstream
/** Últimas Noticias**/
#ultimasNoticias {
   background-color: #610094;
=======
/* Últimas Noticias*/
#noticias {
   color: #150050;
>>>>>>> Stashed changes
}

.noticiasContainer {
   display: grid;
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: repeat(2, 300px);
   padding: 30px;
   margin: 0 auto;
   justify-content: space-evenly;
   align-content: space-between;
}

.noticiasContainer div {
   margin: 24px;
   border-color: white;
   background-color: white;
   text-align: center;
}

.noticias__titulo {
   text-align: center;
   padding-top: 24px;
   color: white;
}

.todasNoticias {
   text-align: right;
   margin: 16px;
}

/** Jogos Grauitos **/
#jogosGratuitos h1{
   text-align: center;
   padding: 30px;

}

.jogosGratuitos {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 100px;
   margin-bottom: 100px;
   text-decoration: none;
}

.jogosGratuitos div img {
   border: solid;
}

.jogosGratuitos div h3 {
   text-align: center;
}


/** Descontos **/
#descontos {
<<<<<<< Updated upstream
   background-color: #610094;
}

#descontos h1{
=======
>>>>>>> Stashed changes
   color: white;
   text-align: center;
}

.descontos__container {
   display: grid;
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: repeat(2, 300px);
   padding: 30px;
   margin: 0 auto;
   color: #171247;
   justify-content: space-evenly;
   align-content: space-between;
}

.descontos__container div {
   margin: 24px;
   border-color: white;
   background-color: white;
   text-align: center;
}

.descontos__titulos {
   text-align: center;
   padding-top: 24px;
   color: white;
}

/** Análises **/
#analises {

}

.analises__titulo {
 text-align: center;
 margin: 24px;
}

.analise__destaque {
   display: grid;
   grid-template-columns: repeat(2, 30%);
   grid-template-rows: repeat(1, 300px);
   padding: 30px;
   margin: 0 auto;
   grid-gap: 20px;
   justify-content: safe center;
}

.analise__destaque div h1{
   padding: 20px;
}

.analise__destaque div p{
   padding: 20px;
}

.ultimas-analises {
   display: grid;
   grid-template-columns: repeat(3, 25%);
   grid-template-rows: repeat(1, 300px);
   padding: 30px;
   grid-gap: 20px;
   margin: 0 auto;
   justify-content: safe center;
}
/** Contato **/
#contato {
   background-color: #610094;
   align-items: center;
}

#contato img {
   background-color: white;
   padding: 5px;
   border-radius: 10px;
}

.contato {
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2, 350px);
   grid-template-rows: repeat(1, 400px);
   padding: 50px;
   justify-content: space-evenly;
   margin: 0px;

 }  

.contato__infos {
   display: flex;
   padding: 10px;
   flex-direction: column;
   justify-content: space-evenly;
}

.contato__infos h1 {
   color: white;
}

.contato__infos p {
   color: white;
}

.contato__infos h4 {
   color: white;
}


.contato__form {
   background-color: white;
   border-radius: 16px;
   display: flex;
   padding: 10px;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   font-weight: bold
}

.btn {
    text-decoration: none;
    background-color: #150050;
    border: 1px solid #610094;
    border-radius: 80px;
    color: white;
    width: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: 0.3s;
    font-size: 10pt;
    display: inline-block;
}

.btn:hover {
    background-color: #610094;
}

.btn2 {
   background-color: #150050;
   border: 1px solid #610094;
   border-radius: 10px;
   padding: 5px;
   color: white;
   transition: 0.3s;
}

.btn2:hover {
    background-color: #610094;
}

/** Rodape **/
#rodape {
   display: grid;
   align-items: center;
   grid-template-areas:
<<<<<<< Updated upstream
   "footerItem footerItem footerItem footerItem"
   "footerCopy footerCopy footerCopy footerCopy";
=======
   "footer__item footer__item footer__item footer__item"
   "copyright copyright copyright copyright";
>>>>>>> Stashed changes
   grid-template-rows: 200px auto; 
   grid-template-columns: 25% 25% 25% 25%;

}

footer.footer__item {
   grid-area: footer__item;
}

footer.footerCopy {
   grid-area: footerCopy;
}

<<<<<<< Updated upstream
.footerItem {
   padding:  10px;
=======
.footer__item {
   padding:  25px;
>>>>>>> Stashed changes
   margin:  0px;
   line-height: 20px;
}

.footer__item h2 {
   color: #8400ff;
}

#footerCopy {
   text-align: center;
   margin: auto;
<<<<<<< Updated upstream
   padding:  20px;
}
=======
   padding: 20px 16px 40px 16px;
   background-color: #171247;
   color: aliceblue;
}

hr {
   height: 1px;
   margin: 50px 0;
   background: -webkit-gradient (linear, 0 0, 100% 0, from(#2c0f6e), color-stop(0.5, #2c0f6e), to(#2c0f6e));
   background: -webkit-linear-gradient (left, #2c0f6e, #333333, #2c0f6e);
   background: -moz-linear-gradient (left, #2c0f6e, #333333, #2c0f6e);
   background: -o-linear-gradient (left, #2c0f6e, #333333, #2c0f6e);
   background: linear-gradient (left, #2c0f6e, #333333, #2c0f6e);
   border: 0;
 }
 
 hr:after {
   display: block;
   content: '';
   height: 30px;
   background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #2c0f6e), color-stop(100%, rgba(255, 255, 255, 0)));
   background-image: -webkit-radial-gradient(center top, farthest-side, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
   background-image: -moz-radial-gradient(center top, farthest-side, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
   background-image: -o-radial-gradient(center top, farthest-side, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
   background-image: radial-gradient(farthest-side at center top, #2c0f6e 0%, rgba(255, 255, 255, 0) 100%);
 }


/* Responsivo */
@media (max-width: 1023px) {
   /* Geral */
      #container__index {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      background-image: url("../images/background-image.png");
      background-repeat: no-repeat;
      background-size: cover;
   }

   nav {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
   }

   #navbar {
      justify-content: start;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: 130px;
   }

   .navbar__botao {
      display: block;
      padding: 20px;
   }

   .navbar__links {
      display: none;
      background-color: aliceblue;
      width: 200px;
      height: 80px;
      padding-top: 20px;
   }

   .navbar__sociais {
      display: none;
   }

   #slider {
      overflow: hidden;
   }

   #slider .slider__noticias {
      display: flex;
      flex-direction: row;
      margin: 0px;
   }

   #slider .slider__noticias img {
      max-width: 1600px;
      max-height: 650px;
      width: auto;
      height: auto;
      background-repeat: no-repeat;
   }

   .noticias__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 10px;
      margin: 0 auto;
   }

   .jogos-gratuitos__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-evenly;
      align-content: space-between;
   }

   .descontos__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
      margin: 0 auto;
      justify-content: space-evenly;
      align-content: space-between;
   }

   .ultimas-analises {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
      grid-gap: 20px;
      margin: 0 auto;
      justify-content: safe center;
   }

   .analise__destaque{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
      margin: 0 auto;
      grid-gap: 20px;
      justify-content: center;
   }

    .contato {
      display: flex;
      flex-direction: column;
      margin: 200px 20px 390px 20px;
      padding: 15px;
   }

    #rodape {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: #171247;
      color: aliceblue;
   }
 }
>>>>>>> Stashed changes
